body {
  font-family: arial, helvetica, sans-serif;
}
.header-top {
  background: #252525;
}
.header-top ul li a {
color: #fff;
padding: 16px 10px;
}
.header-top .navbar.navbar-expand-lg {
  padding: 0;
}
.header {
  background: #252525;
  background-image: url('../img/header.png');
background-position: left top;
background-repeat: repeat-x;
background-size: auto;
}

.logo {
  width: 470px;
  background: url('../img/logoback.png') no-repeat;
  background-position: center top;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  padding: 10px 0 40px 0;
}
.logo img {
  height: 90px;
}
.banner {
  background-color: #252525;
}
.header {
  border-bottom: 1px dashed #acacac;
}
.bannertitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.bannertitle span {
  color: #2fa1b4;
}
.btn-custome {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 40px;
  letter-spacing: 1px;
  transition: all .4s linear;
}
.btn-custome:hover {
  background: #fff;
  color: #252525;
}
.banner p {
  color: #fff;
margin-bottom: 30px;
font-family: 'Roboto', sans-serif;
width: 70%;
letter-spacing: 1px;
font-weight: 300;
}
.banner {
  padding: 80px 15px;
}
.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #252525;
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.icon-slider .row, .icon-slider .col-md-12, .icon-slider .owl-carousel {
  position: static !important;
}
.icon-slider .owl-nav.disabled, .icon-slider .owl-nav {
  display: block !important;
  width: auto !important;
  float: left;
}
.icon-slider .owl-nav button, .testionial .owl-nav.disabled button {
  background: #252525 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  transition: all .4s linear;
}
.icon-slider .owl-nav button span, .testionial .owl-nav.disabled button span {
  color: #fff !important;
  font-size: 30px;
  position: absolute;
  left: 0;
  right: 0;
   top: -6px;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}
.icon-slider .owl-nav {
  position: absolute;
  right: 0;
 top: 0;
}
.icon-slider .owl-nav button.owl-prev {
  margin-right: 15px;
}
.icon-slider .owl-nav button:hover, .testionial .owl-nav.disabled button:hover {
  background: #2fa1b4 !important;
}
.started {
  background: url('../img/mt-1201-home-bg2.jpg') no-repeat;
  background-size: cover;
  background-position: top;
}
.started .section-title {
  color: #fff;
  margin-bottom: 30px;
}
.started p {
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 1px;
}
.started .w-100.text-center {
  padding: 70px 100px;
  padding-bottom: 60px;
}
.ern img {
  width: 50px;
}
.ern {
  box-shadow: 0 0 5px #999;
  padding: 20px;
  transition: all .4s linear;
}
.ern h2 {
  font-size: 19px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #252525;
  letter-spacing: 1px;
  margin: 15px 0;
}
.ern p, .contentblack {
  color: #252525;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}
.ern:hover {
  background: #2fa1b4;
}
.footer-title {
  color: #fff;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 15px;
  display: inline-block;
  transition: all .4s linear;
  position: relative;
}
.footer ul li {
  display: block;
}
.social-icon li {
  display: inline-block !important;
}
.social-icon {
  display: flex;
}
.social-icon ul li a img {
  width: 32px;
  color: #fff !important;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(206deg) brightness(100%) contrast(102%);
  margin-right: 20px;
}
.social-icon ul li:first-child a img {
  width: 18px;
}
.footer ul li a:hover {
  color: #2fa1b4;
}
.testionial .testionial-user {
  width: 100px !important;
  margin: 0px auto;
  display: block;
  margin-bottom: 15px;
}
.testionial {
  background: url('../img/ludo.png') no-repeat;
  background-position: left top;
background-size: cover;
background-attachment: fixed;
}
.testionial * {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.testionial p {
  font-weight: 300;
  letter-spacing: 1px;
}
.testionial span {
  display: block;
  font-weight: 300;
  letter-spacing: 1px;
}
.testionial strong {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.testionial .owl-nav.disabled {
  display: block !important;
}
.testionial .owl-nav.disabled {
  position: absolute;
  top: 47%;
  width: 100%;
}
.testionial .owl-nav.disabled .owl-prev {
  position: relative;
  left: -80px;
}
.testionial .owl-nav.disabled button.owl-next {
  float: right;
  right: -80px;
}
.testionial .owl-nav.disabled button {
  background: #fff !important;
}
.testionial .owl-nav.disabled button span {
  color: #252525 !important;
}
.testionial .section-title {
  text-transform: capitalize;
  letter-spacing: 1px;
}
.footer-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #2fa1b4;
  margin-top: 10px;
}
.footer-title {
  position: relative;
}
.footer ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #2fa1b4;
  transition: all .4s linear;
}
.social-icon li a::after {
  display: none !important;
}
.footer ul li a:hover::after {
width: 100%;
}
#navbarNavAltMarkup ul li a {
  transition: all .4s linear;
  text-transform: capitalize;
}
#navbarNavAltMarkup ul li a:hover {
  color: #2fa1b4;
}
.icon-slider ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon-slider ul li {
  padding: 0 15px;
  width: 20%;
  margin-bottom: 20px;
}
.icon-slider ul li img {
  width: 100%;
}
.icon-slider ul {
  background: #252525;
padding: 15px 0;
border-radius: 8px;
}
.ern {
  height: 100%;
}
.privacy-list li {
  color: #252525;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
.privacy-list {
  padding-left: 15px;
}
.privacy-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  color: #252525;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 18px;
}
.privacy-content {
  padding: 80px 0;
}



@media (max-width: 991px) {
  .header-top .navbar-toggler  {
  background: transparent;
  padding: 0;
  outline: none !important;
box-shadow: none;
}
.header-top .row.justify-content-center {
  justify-content: end !important;
}
.header-top .w-auto, .header-top .container-fluid {
  padding: 0px;
}
.header-top .container-fluid, .header-top .navbar, .header-top  {
  position: static;
}
.header-top {
  position: relative;
}
.header-top #navbarNavAltMarkup {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: #252525;
  padding: 0 15px;
  border-top: 1px solid #ffb901;
  padding-bottom: 16px;
}
.header-top #navbarNavAltMarkup .navbar-nav a {
  padding-bottom: 0;
}

}

@media (max-width: 767px) {
  .icon-slider ul li {
  width: 50%;
}
  .testionial .owl-nav.disabled, .icon-slider .owl-nav.disabled, .icon-slider .owl-nav {
    display: none !important;
  }
  .started .w-100.text-center {
  padding:30px 15px;
  
}
.ern-full .row {
  margin-top: 0 !important;
}
.ern {
  margin-bottom: 25px;
}
.started2 .col-md-6:first-child {
  order: 2;
}
.startedFull .row, .startedFull {
  margin: 0;
  padding: 0;
}
.startedFull img {
  width: 100%;
}
.banner .col-md-7 {
  padding-left: 15px !important;
}
.banner p {
  width: 100%;
}
.ern {
  height: auto;
}

}